.cover{
  position: relative;
  width: 100%;
  
 

}
.cover1{
  background-color: black;
  width: 100%;

}
.logo{
  position: absolute;
  top:30px;
  margin-left: 30px;
}
.text{
 position:absolute;
top:250px;
margin-left: 350px;
font-size: 65px;
color: aliceblue;
}
.text1{
  position:absolute;
  top:80px;
  margin-left: 15px;
  font-size: 25px;
  color: aliceblue;
}

.centerbutton{
  position: absolute;
  top:450px;
  margin-left: 470px;

}
.align{
  
  float: left;
  
}
.space{
  padding-left: 100px;
}
.fbButton{
  background-color: #486DC0;
  width: 190px;
  height: 30px;
  padding: 5px;
  color: #ffffff;
  font-size: 22px;
  text-align:center;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 29px;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
}
.fbButton:hover{
  background-color: #3374FF;
}

.twButton{
  background-color :#1DA1F2;
  width: 190px;
  height: 30px;
  padding: 5px;
  color: #ffffff;
  font-size: 22px;
  text-align:center;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 29px;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  
}
.twButton:hover{
  background-color: #50b1ed;
}
.text2{
  color: aliceblue;
  margin-left: 10px;
  margin-top: 60px;
  font-size: 25px;
  text-align: center;

}
.text3{
  color: aliceblue;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;

}